$accent-color: #20b486;
$text-color: #1e1e1e;
$text-yellow: #ff9b26;
$text-gray: #667085;
$text-light: #eaecf0;
$footer-color: #101828;
$section-color: #f0faf7;
$block-color: #f9fafb;
$color-white: #fff;

$title-fw: 700;
$title-fz: 28px;
$title-lh: 36px;

$subtitle-fw: 600;
$subtitle-fz: 20px;
$subtitle-lh: 28px;

$text-fw: 400;
$text-sz: 16px;
$text-lh: 24px;

$title-fz-pc: 48px;

$subtitle-fz-pc: 32px;
